<a href="https://colab.research.google.com/github/19PA1A04B3/10-03-2020-/blob/master/Linear_Regression2_byown.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [0]:
data=pd.read_csv("athlete_events.csv")     #to read the csv file

In [26]:
data

          ID  ... Medal
0          1  ...   NaN
1          2  ...   NaN
2          3  ...   NaN
3          4  ...  Gold
4          5  ...   NaN
...      ...  ...   ...
47739  24619  ...   NaN
47740  24619  ...   NaN
47741  24619  ...  Gold
47742  24619  ...   NaN
47743  24619  ...   NaN

[47744 rows x 15 columns]

In [0]:
data.head()

In [0]:
x=data["Height"].values
y=data["Weight"].values

In [43]:
data=data.dropna()      #To  remove the Nan (unfilled rows from the file)
data

40       184.0
41       175.0
42       175.0
44       175.0
48       175.0
         ...
47707    180.0
47723    186.0
47728    173.0
47730    170.0
47741    172.0
Name: Height, Length: 4787, dtype: float64

In [41]:
mean_x=np.mean(x)                   
mean_y=np.mean(y)
n=len(x)
num=0
den=0
for i in range (n):
  num+=(x[i]-mean_x)*(y[i]-mean_y)
  den+=(x[i]-mean_x)**2
b1=num/den
b0=mean_y-(b1*mean_x)
print(b1,b0)

1.1250716875713582 -126.2268266872078

In [42]:
numer=0
denom=0
for i in range (n):
  y_pred=b0+(b1*x[i])
  numer+=(y_pred-mean_y)**2
  denom+=(y[i]-mean_y)**2
r2=numer/denom
print(r2)

0.6254252141211216